body {
  color: #fff;
/*  background-image: url('/binding_dark.png');*/
  background-color: #000;
  font-family: 'Ubuntu Mono', 'Droid Sans Mono', sans-serif;
  font-size: 1em;
  padding: 0;
  margin: 0;
}

hr {
  border: 1px solid #333;
}

/* artifacts */
.date {
  color: #fff;
  text-shadow: 0 0 5px #000;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  background:linear-gradient(to bottom, #ffc200, #f90);
  margin-right: 25px;
  float: left;
}

.date .date-month {
  text-align: center;
  line-height: 35px;
  font-weight bold;
  font-size: 16px;
  font-family: 'Ubuntu';
}

.date .date-day {
  text-align: center;
  font-size: 13px;
  font-family: 'Ubuntu';
}

#page-body {
  margin-top: 65px;
}

#container {
    color: #fff;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#container p {
  padding: 15px;
}

#container .post-body {
  padding: 15px;
}

#container .post-body p {
  padding: 2px;
}

#container .post-list {
  padding: 15px;
}

#container .post-list ul {
  list-style-type: none;
  display: inline;
  padding: 0;
}

#container .post-list li {
  clear:both;
  margin-bottom: 25px;
}

#container .post-title {
	position: relative;
	background: #262626;
	border: 4px solid #ff8500;
  padding-top: 15px;
  padding-left: 25px;
  z-index: -9999;
}

#container .post-title:after, #container .post-title:before {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#container .post-title:after {
	border-color: rgba(38, 38, 38, 0);
	border-right-color: #262626;
	border-width: 30px;
	top: 50%;
	margin-top: -30px;
}
#container .post-title:before {
	border-color: rgba(245, 136, 27, 0);
	border-right-color: #ff8500;
	border-width: 36px;
	top: 50%;
	margin-top: -36px;
}

#container .post-title h1 {
  margin: 0;
}

#container .wiki-body {
  padding: 15px;
}

#container .wiki-body ul {
  list-style-type: square;
}

#container .wiki-body p {
  padding: 2px;
}

#container .search-body {
  padding: 15px;
}

#container .search-body p {
  padding: 2px;
}

#container .blog-form {
  width: 100%;
}

#container .blog-form .blog-form-control {
  width: 60%;
  border: 3px solid #000;
  padding: 5px;
  font-family: 'Ubuntu Mono', sans-serif;
  font-size: 14px;
}

#container .blog-form .blog-form-control-textarea {
  height: 400px;
}

#container .blog-form .btn {
  display: inline-block;
  margin: 10px;
  padding: 8px 15px;
  background: rgb(255, 214, 0);
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 1px;
  transition: all 0.3s ease-out;
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.5),
    0 2px 2px rgba(0,0,0,0.3),
    0 0 4px 1px rgba(0,0,0,0.2);

  /* Font styles */
  text-decoration: none;
  text-shadow: 0 1px rgba(255,255,255,0.7);
  font-family: 'Ubuntu Mono', sans-serif;
}

#container .blog-form .btn:hover  {
  background-color: rgba(255,214,0,0.7);;
}

.blog-form-small {
  float: right;
  padding: 0;
}

.blog-form-small .blog-form-control-small {
  border: 1px solid #000;
  padding: 2px;
  font-family: 'Ubuntu Mono', sans-serif;
  font-size: 12px;
}

.blog-form-small .btn-small {
  display: inline-block;
  margin: 1px;
  padding: 1px 4px;
  background: rgb(255, 214, 0);
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 1px;
  transition: all 0.3s ease-out;
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.5),
    0 1px 1px rgba(0,0,0,0.3),
    0 0 1px 1px rgba(0,0,0,0.2);

  /* Font styles */
  text-decoration: none;
  text-shadow: 0 1px rgba(255,255,255,0.7);
  font-family: 'Ubuntu Mono', sans-serif;
  font-size: 12px;
}

.blog-form-small .btn-small:hover  {
  background-color: rgba(255,214,0,0.7);;
}


#container a {
    font-weight: bold;

}

.clearfix {
    clear:both;
}

a {
  color: rgb(255, 214, 0);
}
a:link {
  text-decoration: none; 
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: none;
}

h1        { color: rgb(255, 214, 0); font-family: 'Cabin Sketch', cursive; font-size: 42px; }
h2        { 

  color: rgb(255, 214, 0); font-family: 'Cabin Sketch', cursive;
}

h3:before, h2:before {
    content: "\25BA";
    font-size: 60%;
    display: inline-block;
    padding-right: 10px;
    pointer-events: none;
    vertical-align: middle;
}

h3 { 
    color: rgb(255, 214,0); 
}
h4        { color: #aaa; }

.title h4 {
  font-style: italic;
  padding: 0px;
}

#header {
    clear:both;
    margin-top: 60px;
}


#header .logo img {
  border-radius: 10px;
}

#footer {
  color: #ffffff;
  text-shadow: 0px 0px 5px #ff8500;
  padding-top: 15px;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
  clear: both;
}

#footer a {
  color: #fff;
}

#footer img {
  vertical-align: middle;
}

/* navbar */

#navbar {
  background-color: #ff8500;
  color: #ffffff;
  text-shadow: 0px 0px 5px #000;
  font-size: 1em;
  height: 35px;
  padding-top: 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
}

#navbar .links {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

#navbar a {
  color: #fff;
}

#navbar img {
  vertical-align: middle;
}
