body
  color #000
  background-color #fff
  font-family 'Ubuntu Mono', 'Droid Sans Mono', sans-serif
  font-size 1em
  padding 0
  margin 0

pre
  margin 0
  font-size medium
  .code
    font medium monospace
    .keyword
      font-weight bold

hr
  border 1px solid #862d0e

#page-body
  margin-top 200px
  padding-top 50px
  height 300px

#container
  color #000
  width 960px
  margin-left auto
  margin-right auto
  p
    padding 15px
  a
    font-weight bold

.clearfix
  clear both

a
  color #333
  transition all 0.3s ease-out
  &:link
    text-decoration none
  &:visited
    text-decoration none
  &:active
    text-decoration none

h1
  color #333
  font-family 'Cabin Sketch', cursive
  font-size 42px

h2
  color #333
  font-family 'Cabin Sketch', cursive

h3
  color #444
  &:before
    content "\25BA"
    font-size 60%
    display inline-block
    padding-right 10px
    pointer-events none
    vertical-align middle

h4
  color #555

.title
  h4
    font-style italic
    padding 0px

#header
  clear both
  margin-top 60px
  .logo
    img
      border-radius 10px

#footer
  color #333
  background-color #dedede
  text-align center
  padding-top 15px
  width 100%
  height 250px
  margin-left auto
  margin-right auto
  font-size .75em
  border-top 1px solid #eaeaea
  clear both
  a
    &:hover
      transition all 0.3s ease-out
      color #999
  img
    vertical-align middle

#navbar
  background-color #efefef
  color #000
  text-shadow 0px 0px 5px #333
  font-size 1.45em
  height 200px
  position absolute
  top 0
  left 0
  width 100%
  font-family 'Ubuntu', sans-serif
  z-index 99999
  border-bottom 1px solid #eaeaea
  .links
    width 960px
    margin-left auto
    margin-top 75px
    text-align right
    margin-right auto
  a
    color #000
    transition all 0.3s ease-out
    &:hover
      text-shadow 0 0 15px black
  img
    vertical-align middle

