html
  font-size: 100%

body
  font-family: 'PT Sans', Arial, sans-serif
  padding: 0
  margin: 0

h1.ui.center.aligned
  height: 77px
  font-family: 'Overlock', cursive
  background-color: #86614C
  color: #fff
