html
  font-size: 100%

body
  font-family: 'Open Sans', Arial, sans-serif
  min-width: 320px
  color: #555555
  padding: 0
  margin: 0

.stripe
  padding: 50px 0

.masthead
  position: relative
  overflow: hidden
  text-align: center
  padding: 50px 0px
  color: rgba(255,255,255,0.9)
  margin-bottom: 0px
  border-bottom: none
  background-color: rgb(44, 102, 134)
  h1.ui.header
    font-size: 5em
  h2.ui.header
    margin: -10px 0 16px 0px
    font-size: 1.75em
    border-bottom: none
    line-height: 1
    font-weight: normal
